{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/payment.css' %}">
        <!-- <link rel="stylesheet" href="/base/static/css/style.css"> -->
        
        <title>Payment Information</title>
      </head>
<body>
    
<div class="container">
    <div class="card">
        <a href="success_msg" class="proceed-link">
            <button class="proceed">
                <svg class="proceed-icon" width="24" height="24" viewBox="0 0 24 24">
                    <!-- Your SVG content for the right arrow -->
                    <path fill="currentColor" d="M8.71 16.29l4.58-4.58-4.58-4.58L10.12 5.7l6 6-6 6z"/>
                </svg>
            </button>
        </a>
        
        
        
    <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
  </svg></button>
     <img src="https://seeklogo.com/images/V/VISA-logo-62D5B26FE1-seeklogo.com.png" class="logo-card">
   <label>Card number:</label>
   <input id="user" type="text" class="input cardnumber"  placeholder="1234 5678 9101 1121">
   <label>Name:</label>
   <input class="input name"  placeholder="Shakib Howlader">
   <label class="toleft">CCV:</label>
   <input class="input toleft ccv" placeholder="321">
    </div>
    <div class="receipt">
      <div class="col"><p>Cost:</p>
      <h2 class="cost">TK12,00,000</h2><br>
      <p>Company Name:</p>
      <h2 class="seller">NuevoHomes</h2>
      </div>
      <div class="col">
        <p>Bought Items:</p>
        <h3 class="bought-items">Golden Urban House</h3>
        <p class="bought-items description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        <p class="bought-items price">TK12,00,000 </p><br>
      </div>
      <p class="comprobe">This information will be sended to your email</p>
    </div>
  </div>
</body>
</html>